* {
    margin: 0;
    padding: 0;

}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background: rgb(4, 101, 93);
    background: linear-gradient(299deg, rgba(4, 101, 93, 1) 24%, rgba(6, 0, 34, 1) 34%, rgba(18, 3, 51, 1) 46%, rgba(90, 17, 149, 1) 78%, rgba(89, 9, 105, 1) 94%, rgba(1, 1, 60, 1) 98%);
    /* background-image: url("./Assets//cool-background.png"); */
}

#backgroundImageFilter {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}


#main-section-id {
    border: 1px solid black;
    width: 97dvw;
    height: 93dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    overflow: auto;

}

#chat-section-id {
    width: 80vw;
    height: 650px;
    border-radius: 40px;
    padding: 10px;
    background: rgb(4, 101, 93);
    background: linear-gradient(299deg, rgba(4, 101, 93, 1) 24%, rgba(6, 0, 34, 1) 34%, rgba(18, 3, 51, 1) 46%, rgba(90, 17, 149, 1) 78%, rgba(89, 9, 105, 1) 94%, rgba(1, 1, 60, 1) 98%);
}

#chat-with-strangers {
    margin: 10px 0px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sentChat,
.receivedChat {
    display: flex;
    height: fit-content;
    border: hidden;
    margin: 10px 0px;
    width: 100%;
    cursor: pointer;
}

.sentChatInnerText,
.receivedChatInnerText {
    padding: 15px;
    max-width: 500px;
    height: fit-content;
    border-radius: 20px;
    color: white;
}

.sentChatInnerText {
    background-color: rgb(73, 73, 250);
    margin-left: 10px;

}

.receivedChatInnerText {
    background-color: rgb(78, 77, 77);

}

.sentChat {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin-right: 0px;
}

.receivedChat {
    justify-content: left;
    align-items: flex-start;

}

#chat-section-id {
    position: absolute;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: black;
}

#chat-section-form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0px;
    left: auto;
    gap: 15px;
}

textarea:focus,
input:focus {
    outline: none;
    color: white;
    font-size: 18px;
}

#sendMessageButton {
    background: none;
    border: none;
    font-size: 25px;
}

#sendMessageButton:active {
    all: initial;
    font-size: 10px;

}

#sendMessageButton:focus {
    all: initial;
    font-size: 25px;

}

/* #sendMessageButton {
    background: none;
    border: none;
} */


#chat-section-form>input {
    font-family: monospace;
    padding: 4px;
    min-width: 55%;
    width: fit-content;
    max-width: 70%;
    height: fit-content;
    border-radius: 10px;
    min-height: 25px;
    background: #646464;
    color: white;
    border: hidden;


}

/* to change the scrollbar */
.sidebar::-webkit-scrollbar {
    width: 5px;
    /* Width of the scrollbar */
}

/* Track (background) of the scrollbar */
.sidebar::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color of the scrollbar track */
}

/* Handle (thumb) of the scrollbar */
.sidebar::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar thumb */
    border-radius: 5px;
    /* Rounded corners of the thumb */
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the scrollbar thumb on hover */
}

/* 
h1 {
    color: red;
}


#TextReceived {
    background-color: rgb(121, 121, 248);
    color: black;
    text-align: start;
    padding: 10px;
    margin: 10px 0px 20px 10px;
    width: fit-content;
    display: block;
    height: fit-content;
}

#TextSent {
    background-color: rgb(245, 153, 153);
    color: black;
    text-align: end;
    padding: 10px;
    width: fit-content;
    display: block;
    height: fit-content;
    margin: 5px 10px 10px 0px;


}

#Alert_to_the_User {
    color: red;

}

#Main-chat-Body {
    width: 500px;
    height: 600px;
    border: 2px solid black;
    padding: 5px;
    overflow: auto;
} */

/* loader style here */
.loader {
    position: relative;
    width: 108px;
    display: flex;
    justify-content: space-between;
}

.loader::after,
.loader::before {
    content: '';
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #FFF;
    background-image: radial-gradient(circle 14px, #0d161b 100%, transparent 0);
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: eyeMove 10s infinite, blink 10s infinite;
}

@keyframes eyeMove {

    0%,
    10% {
        background-position: 0px 0px
    }

    13%,
    40% {
        background-position: -15px 0px
    }

    43%,
    70% {
        background-position: 15px 0px
    }

    73%,
    90% {
        background-position: 0px 15px
    }

    93%,
    100% {
        background-position: 0px 0px
    }
}

@keyframes blink {

    0%,
    10%,
    12%,
    20%,
    22%,
    40%,
    42%,
    60%,
    62%,
    70%,
    72%,
    90%,
    92%,
    98%,
    100% {
        height: 48px
    }

    11%,
    21%,
    41%,
    61%,
    71%,
    91%,
    99% {
        height: 18px
    }
}

/* css logic to control appearance of loader */
#loaderDiv {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatDate {
    text-align: center;
    color: white;
    font-size: 17px;
    display: block;
    margin: auto;
}

.alert {
    margin: auto;
    text-align: center;
    color: white;
    font-family: sans-serif;
}